TRAEFIK_DOMAIN=traefik.yourdomain.com

PORTAINER_DOMAIN=portainer.yourdomain.com

LETSENCRYPT_EMAIL=your-email@yourdomain.com

BASIC_AUTH_FILE=/configurations/.htpasswd

DOCKER_NETWORK=proxy

TRAEFIK_CONTAINER_NAME=traefik

PORTAINER_CONTAINER_NAME=portainer

HTTP_PORT=80
HTTPS_PORT=443
PORTAINER_PORT=9000